@import "./variables.css";

.page {
	margin: auto;
	padding-top: 20px;
	width: var(--standard-width);
	min-width: var(--standard-min-width);
}

.title {
	margin-bottom: 20px;
	font-size: var(--large);
}
