:root {
	/* font-sizes */
	--tiny: 10px;
	--small: 15px;
	--normal: 20px;
	--large: 25px;
	--huge: 30px;

	/* sizes */
	--header-size: 40px;
	--standard-width: 60vw;
	--standard-min-width: calc(100vmin - 40px);

	/* greys */
	--not-white: hsl(0, 0%, 90%);
	--not-ash: hsl(0, 0%, 85%);
	--ash-light: hsl(0, 0%, 80%);
	--ash: hsl(0, 0%, 70%);
	--ash-dark: hsl(0, 0%, 60%);
	--grey: hsl(0, 0%, 50%);
	--slate-light: hsl(0, 0%, 40%);
	--slate: hsl(0, 0%, 30%);
	--slate-dark: hsl(0, 0%, 20%);
	--carbon: hsl(0, 0%, 12%);

	/* greens */
	--green-light: hsl(120, 75%, 40%);
	--green: hsl(120, 100%, 25%);

	/* bluegreens */
	--green-steel-light: hsl(160, 70%, 80%);
	--green-steel: hsl(170, 90%, 15%);

	/* blues */
	--steel: hsl(220, 50%, 95%);
	--steel-grey: hsl(220, 15%, 75%);
	--steel-dark: hsl(220, 100%, 30%);

	/* reds */
	--red-light: hsl(0, 60%, 80%);
}
